<div class="all-container center">
  <header>
    <div class="container-size-small arrow">
      <%= image_tag("arrow.png") %>
    </div>
    <div class="container-size-big homie">
      <%= image_tag("homie.png") %>
    </div>
    <div class="container-size-small default">
      <%= image_tag("default.png") %>
    </div>
    <div class="head-desktop">
      <%= image_tag("h_homie.png") %>
    </div>
    <div class="text-desktop">
      <span>Reporte de inquilino</span>
      <p>
        Fecha: julio 16 2019 valido hasta: octubre 16 2019</br>
        Calculado con Homie Technology que tiene un rango de 0 a 1500
      </p>
    </div>
  </header>
  <section class="report">
    <span class="header-report">Reporte de Inquilino</span>
    <p class="paragraph-report">
      <span>Fecha: julio 16 2019 valido hasta: octubre 16 2019</span>
      <span>Calculado con Homie Technology que tiene un </span>
      <span>rango de 0 a 1500</span>
    </p>
  </section>
  <section class="graph">
    <div class="graph-container">
      <div class="graph-circle">
        1052
      </div>
      <div class="graph-range">
        <span>0</span>
        <span>1500</span>
      </div>
      <div class="graph-bars">
        <%= image_tag("bars.png") %>
      </div>
      <div class="graph-info">
        <span>Malo</span>
        <span>Medio</span>
        <span>Bueno</span>
        <span>Excelente</span>
      </div>
      <span class="points">Este puntaje es Bueno</span>
      <p>
        <span>Rango superior al 43% de los inquilinos de</span>
        <span>México</span>
      </p>
    </div>
    <div class="info-container">
      <span>Identificacion otorgada: <b>verificada</b></span>
      <span>Nivel socioeconomico: <b>NA</b></span>
      <span>Listas negras: <b>No</b></span>
      <span>Prevencion de lavado de dinero: <b>No disponible</b></span>
      <span>Redes sociales vinculadas: <b>Ninguna</b></span>
    </div>
  </section>
  <div>
  <section class="profile-card">
    <div class="profile">
      <%= image_tag("default.png") %>
    </div>
    <div class="profile-info">
      <span class="title-info">Esteban Manuel Lopez Ramirez</span>
      <p class="paragraph-profile">
        <span>centro, 123, Piso 12, Depa 123,</span>
        <span>Centro, Yucatán</span>
      </p>
      <span class="price">$44,000.00</span>
    </div>
  </section>
  <section class="user-info">
    <div class="user-info-item">
      <div class="icons">
      <%= image_tag("suitcase.png") %>
      </div>
      <div class="text">
        /<b>Empleo</b>
      </div>
    </div>
    <div class="user-info-item">
      <div class="icons">
      <%= image_tag("open_book.png") %>
      </div>
      <div class="text">
        Especialidad o diplomado / <b>UTM</b>
      </div>
    </div>
    <div class="user-info-item">
      <div class="icons">
        <%= image_tag("money.png") %>
      </div>
      <div class="text">
        Ingresos verificados&nbsp;<b>No disponible</b>
      </div>
    </div>
    <div class="user-info-item">
      <div class="icons">
        <%= image_tag("mail.png") %>
      </div>
      <div class="text">
        <b>dev+victor126inquilino@homie.mx</b>
      </div>
    </div>
    <div class="user-info-item">
      <div class="icons">
        <%= image_tag("phone.png") %>
      </div>
      <div class="text">
        <b>9992023842</b>
      </div>
    </div>
    <div class="user-info-item-person">
      <div class="icons">
        <%= image_tag("people.png") %>
      </div>
      <div class="text">
        <p>
          <span>Referencia: <b>Lorena Esther Mananero</b></span>
          <span><b>Rodriguez</b></span>
          <span>centro, 123, Centro, Yucatán, CP 97000</span>
        </p>
      </div>
    </div>
    <div class="user-info-item-person">
      <div class="icons">
        <%= image_tag("people.png") %>
      </div>
      <div class="text">
        <p>
          <span>Referencia: <b>Catalina Esmeralda</b></span>
          <span><b>Estrada Castro</b></span>
          <span>centro, 123, Petroler, Veracruz, CP</span>
          <span>96500</span>
        </p>
      </div>
    </div>
    <div class="user-info-item-person">
      <div class="icons">
        <%= image_tag("people.png") %>
      </div>
      <div class="text">
        <p>
          <span>Referencia: <b>Luis Manuel Castillo</b></span>
          <span><b>Lopez</b></span>
          <span>centro, 123, Centro, Yucatán, CP 97000</span>
        </p>
      </div>
    </div>
  </section>
  </div>
  <section class="homie-technology">
    <p class="homie-tec-paragraph">
      <span class="mobile">Nuestra tecnología nos permite rentar tu</span>
      <span class="mobile">inmueble al mejor inquilino sin ningún </span>
      <span class="mobile">riesgo y en tiempo record.</span>
      <span class="desktop">
        Nuestra tecnología nos permite rentar tu
        inmueble al mejor inquilino sin ningún
      </span>
      <span class="desktop">riesgo y en tiempo record.</span>
    </p>
    <%= image_tag("technology_logo.png") %>
  </section>
  <section class="save-button">
    <button class="button">
      <i class="fas fa-download"></i><span>Guardar</span>
    </button>
  </section>
</div>
<%= stylesheet_link_tag 'reports'%>